body{
	background:#112233;
	background-image: url('https://i.imgur.com/bEA0wVk.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	font-family:Arial
}
th{
	background:#8B0000;
	color:#FFF;
	padding:6px 3px;
	text-align:left;
	border: 1px solid #CCC;
}
td{
	padding:4px 3px;
	font-weight: bolder;
    border: 1px solid #CCC;
}
table{
	background:#000;
	opacity: 0.7;
	font-size: 12px;
	font-family: Arial;
	color:#FFF;
	border-spacing: 0;
	border-collapse: collapse;
	align-content: center;
	
}
h2,h3{
	color:#FFF;
	font-family:Verdana
}
#c{
	background:#333
}
img{
	height:10px;
	background:#09F;
	margin:0 3px
}
#r{
	height:10px;
	background:#B6423C
}
#clr{
	background:none;
	color:#FFF;
	font-size:20px
}
#t{
    background-image: url("https://i.imgur.com/kXYTV9o.png");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
}
#x{
    background-color: none;
}
